[Unit]
Description=Wordpress1 container
Requires=docker.service
After=docker.service
[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker pull wordpress:latest
{% for i in wordpress_instances[:wordpress_active_instances] %}}
ExecStart=/usr/bin/docker run --name www-{{ i }} -d -p 8{{ i }}80:80 --env-file /home/infra01/env.list --restart always --dns {{ master_ip }} --dns {{ slave_ip }} wordpress:latest
ExecStop=/usr/bin/docker stop www-{{ i }}
ExecStopPost=/usr/bin/docker rm -f www-{{ i }}
ExecReload=/usr/bin/docker restart www-{{ i }}
{% endfor %}}

[Install]
WantedBy=multi-user.target 