---
forwarders:
  - 8.8.8.8
  - 1.1.1.1
  - 9.9.9.10
localnets:
  - 192.168.56.0/24
  - 10.0.2.0/24
  - localhost
dns_records:
  - name: zekena.ttu.
    type: NS
    address: infra01.zekena.ttu.

  - name: zekena.ttu.
    type: NS
    address: infra02.zekena.ttu.

  - name: infra01.zekena.ttu.
    type: A
    address: 192.168.56.101

  - name: infra02.zekena.ttu.
    type: A
    address: 192.168.56.102

  - name: web.zekena.ttu.
    type: CNAME
    address: infra01.zekena.ttu.
