$TTL	604800
@	IN	SOA	zekena.ttu. root.zekena.ttu. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.zekena.ttu.
	IN	NS	infra02.zekena.ttu.
101	IN	PTR	infra01.zekena.ttu.
102	IN	PTR	infra02.zekena.ttu.
