network:
    ethernets:
        enp0s8:
            {% if dns_role=="master" %}
            addresses: [192.168.56.101/24]
            {%else%}
            addresses: [192.168.56.102/24]
            {%endif%}
            dhcp4: false
    version: 2