[Unit]
Description=Grafana container
Requires=docker.service
After=docker.service
[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker pull "grafana/grafana"
ExecStart=/usr/bin/docker run --name grafana -d -p 3000:3000 --restart always --dns 192.168.56.101 --dns 192.168.56.102 grafana/grafana
ExecStop=/usr/bin/docker stop grafana
ExecStopPost=/bin/docker rm -f grafana
ExecReload=/bin/docker restart grafana

[Install]
WantedBy=multi-user.target